*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto';
}
.container-login{
    position: relative;
    width: 100%;
    display: flex;
}
.left,.right{
    width: 50%;
    height: 100vh;
}

.left{
    background-image: url('../images/post.png');
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: dodgerblue;
    
}
.left img{
    justify-content: center;
    align-content: center;
}

.right{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.text{
    width: 450px;
    height: 400px;
    border-radius: 20%;
    margin: 0 auto;
    background-color: #f2f2f2;
}
.design{
    background-image: url('../images/mail.png');
    background-size: 65%;
    width: 350px;
    height: 223px;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}
.design.two{
    position: absolute;
    top: 68%;
    right: 0%;
}
.right .text h1{
    margin-bottom: 8%;
    margin-top: 10%;
    text-align: center;
    color: #085EBA;
}
.right .text button{
    width: 280px;
    height: 50px;
    border-radius: 9px;
    border: none;
    text-align: center;
    background-color: #1D90FF;
    color: white;
    font-size: 18px;
    outline: none;
    position: relative;
    margin-top: 2%;
}
.right .text input{
    border: none;
    border-radius: 10px;
    width: 280px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
}
.credentials{
    margin: 0 auto;
    text-align: center;
}
input[type="text"], input[type="password"]{
    outline: none;
}