*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Roboto;
}
.navbar{
    max-width: 1280px;
    height: 40px;
    width: 100%;
    margin: 0 auto;
}
ul{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top: 15px;
}
ul li:first-child{
    flex-grow: 1
}
ul li{
    display: flex;
    padding-right: 20px;
    list-style: none;
}
.logo{
    width: 40px;
    height: 33px;
}